body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}
.hero {
    background: url('/frontend/images/background.jpg') no-repeat center center/cover;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.navbar-brand {
    font-weight: bold;
    animation: slideInDown 1s;
}
.sports-slider {
    margin-top: -50px;
}
.card {
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}
.card:hover {
    transform: scale(1.05);
}
.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}
@keyframes slideInDown {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}
.section-title {
font-size: 2rem;
font-weight: bold;
color: #004085; /* Dark blue shade */
text-transform: uppercase;
letter-spacing: 2px;
margin-bottom: 15px;
padding-top: 10px;
border-top: 3px solid #007bff; /* Adds a top border for style */
display: inline-block;
}
.section-title1 {
font-size: 2rem;
font-weight: bold;
color: palevioletred; /* Dark blue shade */
text-transform: uppercase;
letter-spacing: 2px;
margin-bottom: 15px;
padding-top: 10px;
border-top: 3px solid pink; /* Adds a top border for style */
display: inline-block;
}
.sub-section-title1 {
font-size: 1.5rem;
color: #343a40; /* Slightly dark gray */
font-weight: 600;
margin-top: -10px; /* Adjust vertical spacing */
margin-bottom: 25px;
text-transform: capitalize;
letter-spacing: 1px;
display: inline-block;
}


.sub-section-title {
font-size: 1.5rem;
color: #343a40; /* Slightly dark gray */
font-weight: 600;
margin-top: -10px; /* Adjust vertical spacing */
margin-bottom: 25px;
text-transform: capitalize;
letter-spacing: 1px;
display: inline-block;
}

.text-center {
text-align: center; /* Ensures the headings are centered */
}

/* Add a subtle container background for visual separation */
.container {
background-color: #f8f9fa; /* Light gray background */
padding: 20px;
border-radius: 8px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}